<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 >Log in</h1>
    <div class="register">
        <form method="post">
            {% csrf_token %}
            
            <label for="username">Username</label>
            {{form.username}}
            <br> <br>
            
            <label for="phoneNumber">Phone Number</label>
           {{form.phone_number}}
            <br> <br>

            <label for="password">Password</label>
           {{form.password}}
            <br><br>

            <button type="submit">Send</button>
        </form>
        <br><br>
        <a href="{% url 'register' %}">Register >>>> </a>
    </div>
</body>
</html>

